.contact__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 5.3rem;
    background: $c-white;
}
.contact__image {
    margin-bottom: 1.5rem;
}
.contact__email {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color:$c-black;
    margin-bottom: 1.5rem;
}
.contact__support {
    line-height: 2.4rem;
    color:$c-black;
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}