.item {
    background: $c-white;
    padding: 3.5rem 4rem;
    max-width: 328px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    transition:all .3s ease;
    &:hover {
        background: $c-blue;
        color:$c-white;
        cursor: pointer;
        .item__title {
            color:$c-white;
        }
    }
    &__img {
        margin-bottom: 1rem;
    }
    &__title {
        color:$c-black;
        font-weight: 700;
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }
}