.advice {
    padding: 12rem 0 8rem 0;
    &__title {
        text-align: center;
        font-weight: 700;
        color:$c-black;
        font-size: 4rem;
        line-height: 5.7rem;
        margin-bottom: 1rem;
        
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__decription {
        text-align: center;
        @media screen and (max-width:480px) {
            max-width: 225px;
        }
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(238px,1fr));
        gap: 3rem;
    }
    .item {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 5rem;
        &__img {
            display: flex;
            margin: 0;
            order:1;
            img {
                width: 100%;
            }
        }
        &__info {
            padding: 3rem;
        }
    }
}