.contact {
    padding: 8rem 0 15rem 0;
    background: $c-bg;
    .container {
        max-width: 990px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-weight: 700;
        font-size: 4rem;
        line-height: 5.7rem;
        color: $c-black;
        margin-bottom: 1.5rem;
    }
    &__description {
        text-align: center;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 8rem;
        max-width: 470px;
        @media screen and (max-width:480px) {
            max-width: 264px;
        }
    }
    &__items  {
        display: flex;
        flex-wrap: wrap;
        @media screen and (max-width:480px) {
            flex-direction: column;
        }
    }
    .contact__item {
        transition: all .3s ease;
        @media screen and (max-width:480px) {
            margin-bottom: 3rem;
        }
        &:hover {
            transform: scale(1.3);
            background: #252B42;
            h2,p,a {
                color:$c-white;
            }
            .regular__btn {
                border-radius: 5px;
                border:1px solid $c-white;
                background: transparent !important;
                color:$c-white !important;
            }
        }
    }
    .regular__btn {
        border-radius: 5px;
        border:1px solid $c-orange;
        background: transparent !important;
        color:$c-orange !important;
    }
}