.consult {
    padding: 4rem 0;
    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .regular__btn {
        border-radius: 5px;
    }
    &__title {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 3.2rem;
        color: $c-black;
        margin-bottom: 1rem;
    }
}