include ../components/button

section.consult
    .consult__content.container 
        .consalt__info 
            h2.consult__title Consulting Agency For Your Business
            p.consult__description the quick fox jumps over the lazy dog
        .consult__btn 
            +button('orange','Contact Us','#')
