include ../components/button
include ../components/item


section.hero 
    .hero__content.container
        h1.hero__title EMPOWER YOUR BUSINESS
        p.hero__desctiption We know how large objects will act, but things on a small scale.
        .hero__buttons
            +button('orange','Get Quote Now','#')
            +button('transparent','Learn More','#')  
        .hero__items
            each item in items 
                +item(item.img,item.title,item.description)
            
