section.subscribe 
    .subscribe__content.container
        h2.subscribe__title Subscribe For Latest Newsletter
        form.subscribe__form
            input(type="email" placeholder="Your Email").subscribe__input
            button.subscribe__btn Subscribe
